*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 0;
    
  
}

.nav-list{
    display: flex;
    width: 50%;
   
    align-items: center;
    
}

.nav-list li{
   list-style: none;
   vertical-align: middle;
   padding: 20px 10px;
  
}

.nav-list li a{
    text-decoration: none;
    color: white;
    padding: 0px 5px;
    
   
}

.nav-list li a:hover{
    color: grey;
}

.rightNav{
   
    width: 50%;
    text-align: right;
    
}

#search{
    padding: 5px;
    font-size: 17px;
    border-radius: 10px;
    border: 0px;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.logo img{
width: 70%;
border: 2px solid white;
border-radius: 50px;
}

.background_1{
    background-color: black;
}

.background{

    background: rgba(0, 0, 0, 0.7) url('../img/bg_img.jpg');
    background-size: cover;
    background-blend-mode: darken;
    height: auto;

}

.firstSection{
    padding: 20px 0px 50px;
    
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    max-width: 70%;
   
}

.firstHalf{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 0px 30px;;
}
.secondHalf{
    width: 200px;
}
.secondHalf img{

    width: 200px;
    border: 2px solid white;
    border-radius: 10px;

}

.text-big{
    font-size: 20px;
    line-height: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
    font-weight: 700;
    padding-bottom: 10px;
    
}

.sectionTag{
    font-size: 20px;
    line-height: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 700;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.text-small{
    font-size: 16px;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
    padding-bottom: 10px;

}
.sectionSubTag{
    font-size: 16px;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding-bottom: 10px;

}
.btn{
    border-radius: 5px;
    
    padding: 8px 20px;
    border: 2px solid white;
    background: none;
    color: white;
    cursor: pointer;
    margin: 7px 3px;
}

.btn-sm{
    border-radius: 5px;
    vertical-align: middle;
}

.section{
    display: flex;
   
    max-width: 80%;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 20px 0px;
   

}

.left{
    flex-direction: row-reverse;
}

.thumbnail img{
    width: 230px;
    height: auto;
    border: 2px solid black;
    border-radius: 15px;
    
}

.paras{
    padding: 0px 30px;
}

.text-center{
    text-align: center;
}

.contact{
    background-color: #f2f2f2;
    
     align-items: center;
     justify-content: center;
     margin: auto;
     padding: 30px 0px;
}

.form{
    max-width: 60%;
    margin: 10px auto;
}

.form-input{
    width: 100%;
    border-radius: 6px;
    border: 2px solid grey;
    font-size: 19px;
    margin: 20px 0px;
    padding: 2px;
    align-items: center;
    justify-content: center;
  
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;

}
.ftr_text{
    color: white;
    font-size: 16px;
    padding: 20px;
    text-align: center;
}

#footer_text{
    max-width: 100%;
}

